body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-size: 24px;
}

.container {
    width: 80%;
    margin: 4em auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;


    .topnav {
        height: 10vh;
        width: 80%;
        background: linear-gradient(yellow, orange);
        position: absolute;
        top: 0;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                list-style-type: none;
                color: #fff;
                cursor: pointer;

                :hover {
                    background: chocolate;
                }
            }
        }
    }

    #leftArrow {
        position: fixed;
        left: 0;
        top: 50%;
        cursor: pointer;
        // width: 24px;
        // color: brown;
    }

    #rightArrow {
        position: fixed;
        right: 0;
        top: 50%;
        cursor: pointer;
        :hover {
            color: brown;
            animation: leftArrow 1s infinite linear
        }
    }

    .ques {
        color: brown;
    }

    img {
        width: 240px;
        height: 240px;
    }

    button {
        border: none;
        outline: none;
        padding: 1em 1.5em;
        font-size: 1rem;
        margin-top: 2em;
        cursor: pointer;
        background: rgb(158, 0, 250);
        color: white;
        font-weight: bold;
        will-change: background;
        transition: background 1s;

        &:hover {
            background: rgb(229, 0, 250);
        }
    }
}

.overlay {
    opacity: 1;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.share, .overlay {
    display: none;
}

.show-share {
    display: block;
}

.share {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 50%;
    z-index: 1;
    padding: 1em;
    background: white;

    h2 {
        margin: 0;
    }

    button {
        border: none;
        padding: 0.8em 1.2em;
        margin-top: 3em;
        width: 32%;
        cursor: pointer;
    }
}